body {
  font-family: "Raleway", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  padding-bottom: 3.33vw;
  background-image: radial-gradient(
      circle at 3.6751302083333335% 6.940104166666666%,
      #4d6001 0%,
      11.55%,
      rgba(77, 96, 1, 0) 35%
    ),
    radial-gradient(
      circle at 92.96712239583333% 9.554036458333332%,
      #faaa63 0%,
      17.5%,
      rgba(250, 170, 99, 0) 35%
    ),
    radial-gradient(
      circle at 95.20670572916666% 90.48177083333333%,
      #c9c6ff 0%,
      34.1%,
      rgba(201, 198, 255, 0) 55%
    ),
    radial-gradient(
      circle at 4.313151041666666% 93.34635416666667%,
      #97b49d 0%,
      29.900000000000002%,
      rgba(151, 180, 157, 0) 65%
    ),
    radial-gradient(
      circle at 46.555989583333336% 11.50390625%,
      rgba(214, 222, 72, 0.99) 0%,
      25%,
      rgba(214, 222, 72, 0) 50%
    ),
    radial-gradient(
      circle at 51.121419270833336% 89.98697916666667%,
      #93c3ff 0%,
      42%,
      rgba(147, 195, 255, 0) 70%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #000000 0%,
      100%,
      rgba(0, 0, 0, 0) 100%
    );
}

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 8vw;
}

.navbar-connect {
  margin-right: 6vw;
  margin-left: auto;
  height: 2.55vw;
  width: 10vw;
  padding: 0.53vw 1.33vw;
  font-size: 0.95vw;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 1.66vw;
  transition: 0.2s;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar-connect:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.45);
}

.centerpiece {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
}

.gif {
  /* margin-top: 100px; */
  /* margin-left: 300px;
  margin-right: 150px; */
  width: 26.6vw;
  height: 26.6vw;
  margin-top: 0.93vw;
  margin-left: auto;
  margin-right: 3.33vw;
  border-radius: 15vw;
  box-shadow: 0px 0px 2.66vw rgba(0, 0, 0, 0.35);
}

.glass {
  margin-top: 1.66vw;
  margin-left: 3.3vw;
  margin-right: auto;
  box-shadow: 0px 0px 2.66vw rgba(0, 0, 0, 0.45);
  border-radius: 12vw;
  height: 20vw;
  width: 32vw;
  text-align: center;
  padding: 1.73vw;
}

.nftname {
  font-family: "Bitter", serif;
  letter-spacing: 0.033vw;
  font-size: 4.67vw;
  font-weight: 800;
  margin-top: 2.2vw;
  margin-bottom: 0.67vw;
}

.desc {
  padding-left: 1.33vw;
  padding-right: 1.33vw;
  font-weight: 400;
  font-size: 1.2vw;
  margin-bottom: 0.66vw;
}

.mintbutton {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 1.66vw;
  transition: 0.2s;
  padding: 0.33vw 1.33vw;
  font-size: 1.33vw;
  margin-top: 1.86vw;
  font-weight: 400;
  letter-spacing: 0.13vw;
  border: none;
}

.mintbutton:hover {
  /* background-color: #ffffff;
  color: black; */
  cursor: pointer;
  box-shadow: 0px 0px 2.66vw rgba(0, 0, 0, 0.45);
}

.mintmessage {
  margin-top: 0.8vw;
  font-size: 1.1vw;
}
.waitlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 11.33vw;
}

.dropform {
  text-align: center;
  align-items: center;
}

.line {
  height: 0.13vw;
  width: 33.33vw;
  background-color: #000000;
}

.dropheading {
  font-size: 4vw;
  margin-bottom: 0;
}

.droptext {
  text-align: center;
  width: 26.66vw;
  margin-bottom: 3vw;
  font-size: 1vw;
}
.message {
  margin-top: 0.9vw;
  font-size: 1.1vw;
}

.addressinput {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 2.66vw rgba(0, 0, 0, 0.2);
  border-radius: 0.66vw;
  height: 2.66vw;
  width: 30vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0.66vw;
}

.addressinput::placeholder {
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

.addressinput:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.joinbutton {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 1.66vw;
  transition: 0.2s;
  padding: 0.33vw 1.3vw;
  font-size: 1.3vw;
  margin-top: 0.66vw;
  font-weight: 400;
  letter-spacing: 0.13vw;
  border: none;
}

.joinbutton:hover {
  /* background-color: #ffffff;
  color: black; */
  cursor: pointer;
  box-shadow: 0px 0px 2.66vw rgba(0, 0, 0, 0.45);
}

.collection {
  margin-top: 3.33vw;
  background-color: black;
  text-align: center;
  align-items: center;
}

.gradienttext {
  background-size: 75%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.66vw;
  margin-bottom: 2vw;
  background-image: radial-gradient(
      circle at 3.6751302083333335% 6.940104166666666%,
      #4d6001 0%,
      11.55%,
      rgba(77, 96, 1, 0) 35%
    ),
    radial-gradient(
      circle at 92.96712239583333% 9.554036458333332%,
      #faaa63 0%,
      17.5%,
      rgba(250, 170, 99, 0) 35%
    ),
    radial-gradient(
      circle at 95.20670572916666% 90.48177083333333%,
      #c9c6ff 0%,
      34.1%,
      rgba(201, 198, 255, 0) 55%
    ),
    radial-gradient(
      circle at 4.313151041666666% 93.34635416666667%,
      #97b49d 0%,
      29.900000000000002%,
      rgba(151, 180, 157, 0) 65%
    ),
    radial-gradient(
      circle at 46.555989583333336% 11.50390625%,
      rgba(214, 222, 72, 0.99) 0%,
      25%,
      rgba(214, 222, 72, 0) 50%
    ),
    radial-gradient(
      circle at 51.121419270833336% 89.98697916666667%,
      #93c3ff 0%,
      42%,
      rgba(147, 195, 255, 0) 70%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #000000 0%,
      100%,
      rgba(0, 0, 0, 0) 100%
    );
}

.viewnft {
  background-color: tran;
  color: black;
  border-radius: 1.66vw;
  transition: 0.2s;
  padding: 0.33vw 1.3vw;
  font-size: 1.3vw;
  margin-bottom: 0.66vw;
  font-weight: 400;
  letter-spacing: 0.13vw;
  border: none;
}
.viewnft:hover {
  /* background-color: #ffffff;
  color: black; */
  cursor: pointer;
}

.collectiontext {
  color: white;
  font-size: 1.8vw;
}

.nftimage {
  margin: 1.33vw 3.33vw;
}
.nftlist {
  display: flex;
  flex-direction: row;
  margin-left: -2.3em;
  justify-content: center;
  margin-top: 2.66vw;
  flex-wrap: wrap;
}
.nftlistitems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.showmessage {
  color: white;
  font-size: 1.15vw;
}
.aboutcontainer {
  padding-top: 2.66vw;

  background-image: radial-gradient(
      circle at 95.20670572916666% 90.48177083333333%,
      #d1cfff 0%,
      64.1%,
      rgba(201, 198, 255, 0) 105%
    ),
    radial-gradient(
      circle at 4.313151041666666% 93.34635416666667%,
      #97b49d 0%,
      69.900000000000002%,
      rgba(151, 180, 157, 0) 105%
    ),
    radial-gradient(
      circle at 51.121419270833336% 89.98697916666667%,
      #94c0f2 100%,
      72%,
      rgba(147, 195, 255, 0) 70%
    );
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.66vw;
  margin-bottom: 5.33vw;
  padding-bottom: 6.66vw;
  padding-top: 4vw;
  padding-left: 5.33vw;
  padding-right: 5.33vw;
  height: 13.33vw;
  color: #000000;
  text-align: center;
}

.glass2 {
  box-shadow: 0px 0px 2.6vw rgba(0, 0, 0, 0.45);
  border-radius: 2vw;
  height: 29.5vw;
  width: 19.5vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 6.66vw;
}

.team {
  font-size: 2.33vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8vw;
  margin-top: 1.33vw;
}

.chiragnft {
  width: 19.5vw;
}

.name {
  font-size: 1.75vw;
  font-weight: 500;
  margin-bottom: 0;
}

.role {
  padding-top: 0.66vw;
  padding-bottom: 0;
  margin: 0;
  font-size: 1.33vw;
  font-weight: 400;
}

.socials {
  padding-top: 1vw;
}

.linkedin {
  padding: 0px 0.66vw;
  width: 1.66vw;
}

.insta {
  padding: 0px 0.66vw;
  width: 1.66vw;
}

.twitter {
  padding: 0px 0.66vw;
  width: 1.66vw;
}

.github {
  padding: 0px 0.66vw;
  width: 1.66vw;
}

.thanks {
  text-align: center;
  color: black;
  font-size: 1.33vw;
  margin: 1.33vw;
  padding-bottom: 2vw;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 6vw 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 8vw;
  }

  .navbar-connect {
    margin: auto;
    height: 10vw;
    width: 40vw;
    padding: 2vw 5vw;
    font-size: 3.8vw;
    border-radius: 6vw;
  }

  .centerpiece {
    display: flex;
    flex-direction: column;

    margin-top: 4 vw;
    /* The width is 100%, when the viewport is 800px or smaller */
  }

  .gif {
    width: 75vw;
    height: 75vw;
    margin: 5vw auto;
    border-radius: 40vw;
  }

  .glass {
    margin: 5.5vw auto;
    border-radius: 15vw;
    height: 60vw;
    width: 80vw;
    text-align: center;
    padding: 3vw;
  }

  .nftname {
    font-size: 12vw;
    font-weight: 800;
    margin-top: 8vw;
    margin-bottom: 1.5vw;
  }

  .desc {
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 3.5vw;
    margin-bottom: 1.3vw;
  }

  .mintbutton {
    border-radius: 6vw;
    padding: 1.4vw 5vw;
    font-size: 5vw;
    margin-top: 4vw;
    letter-spacing: 0.4vw;
  }

  .mintmessage {
    margin-top: 2.2vw;
    font-size: 3vw;
  }

  .waitlist {
    margin-top: 12vw;
  }

  .line {
    height: 0.26vw;
    width: 67vw;
  }

  .dropheading {
    font-size: 9vw;
  }

  .droptext {
    width: 80vw;
    margin-bottom: 5vw;
    font-size: 3.5vw;
  }
  .message {
    margin-top: 1.8vw;
    font-size: 3vw;
  }

  .addressinput {
    border-radius: 1.3vw;
    height: 8vw;
    width: 80vw;
    margin-bottom: 1.5vw;
  }

  .addressinput::placeholder {
    font-size: 3.3vw;
  }

  .joinbutton {
    border-radius: 6vw;
    padding: 1.4vw 5vw;
    font-size: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    letter-spacing: 0.4vw;
  }

  .collection {
    margin-top: 10vw;
  }

  .gradienttext {
    background-size: 100%;
    font-size: 9vw;
    margin-bottom: 6vw;
  }

  .viewnft {
    border-radius: 6vw;

    padding: 1.4vw 5vw;
    font-size: 5vw;
    margin-bottom: 2vw;

    letter-spacing: 0.4vw;
  }

  .collectiontext {
    font-size: 3.6vw;
  }

  .nftimage {
    margin: 2.66vw 6.66vw;
  }
  .nftlist {
    margin-left: -4.6em;
    margin-top: 5.2vw;
  }

  .showmessage {
    font-size: 3vw;
  }

  .aboutcontainer {
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
  }

  .about {
    margin-top: 95vw;
    margin-bottom: 120vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
  }

  .team {
    font-size: 8vw;
    margin-bottom: 17vw;
    margin-top: 6vw;
  }

  .glass2 {
    border-radius: 8vw;
    height: 150vw;
    width: 70vw;
    margin-top: 15vw;
  }

  .chiragnft {
    width: 70vw;
  }

  .name {
    font-size: 6.4vw;
  }

  .role {
    padding-top: 2.8vw;
    font-size: 5vw;
  }

  .socials {
    padding: 5vw;
  }

  .linkedin {
    padding: 0px 2.8vw;
    width: 6.5vw;
  }

  .insta {
    padding: 0px 2.8vw;
    width: 6.5vw;
  }

  .twitter {
    padding: 0px 2.8vw;
    width: 6.5vw;
  }

  .github {
    padding: 0px 2.8vw;
    width: 6.5vw;
  }

  .thanks {
    font-size: 6vw;
    padding-bottom: 20vw;
  }
}
