body {
  font-family: "Raleway", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  padding-bottom: 50px;
  background-image: radial-gradient(
      circle at 3.6751302083333335% 6.940104166666666%,
      #4d6001 0%,
      11.55%,
      rgba(77, 96, 1, 0) 35%
    ),
    radial-gradient(
      circle at 92.96712239583333% 9.554036458333332%,
      #faaa63 0%,
      17.5%,
      rgba(250, 170, 99, 0) 35%
    ),
    radial-gradient(
      circle at 95.20670572916666% 90.48177083333333%,
      #c9c6ff 0%,
      34.1%,
      rgba(201, 198, 255, 0) 55%
    ),
    radial-gradient(
      circle at 4.313151041666666% 93.34635416666667%,
      #97b49d 0%,
      29.900000000000002%,
      rgba(151, 180, 157, 0) 65%
    ),
    radial-gradient(
      circle at 46.555989583333336% 11.50390625%,
      rgba(214, 222, 72, 0.99) 0%,
      25%,
      rgba(214, 222, 72, 0) 50%
    ),
    radial-gradient(
      circle at 51.121419270833336% 89.98697916666667%,
      #93c3ff 0%,
      42%,
      rgba(147, 195, 255, 0) 70%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #000000 0%,
      100%,
      rgba(0, 0, 0, 0) 100%
    );
}

.navbar {
  display: flex;

  align-items: center;
  height: 120px;
}

.navbar-connect {
  margin-right: 100px;
  margin-left: auto;
  height: 40px;
  width: 150px;
  padding: 8px 20px;
  font-size: 13px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  transition: 0.2s;
}

.navbar-connect:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.45);
}

.centerpiece {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.gif {
  /* margin-top: 100px; */
  /* margin-left: 300px;
  margin-right: 150px; */
  width: 300px;
  height: 300px;
  margin-top: 14;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 230px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}

.glass {
  /* margin-top: 125px; */
  margin-left: 50px;
  margin-right: auto;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.45);
  border-radius: 200px;
  height: 280px;
  width: 450px;
  text-align: center;
  padding: 16px;
}

.nftname {
  font-family: "Bitter", serif;
  letter-spacing: 0.5px;
  font-size: 50px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 10px;
}

.desc {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}

.mintbutton {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  transition: 0.2s;
  padding: 5px 20px;
  font-size: 15px;
  margin-top: 8px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
}

.mintbutton:hover {
  /* background-color: #ffffff;
  color: black; */
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.45);
}

.waitlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 170px;
}

.dropform {
  text-align: center;
  align-items: center;
}

.line {
  height: 2px;
  width: 500px;
  background-color: #000000;
}

.dropheading {
  font-size: 55px;
  margin-bottom: 0;
}

.droptext {
  text-align: center;
  width: 400px;
  margin-bottom: 45px;
  font-size: 13px;
}

.addressinput {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 40px;
  width: 400px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.addressinput:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.joinbutton {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  transition: 0.2s;
  padding: 5px 20px;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
}

.joinbutton:hover {
  /* background-color: #ffffff;
  color: black; */
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.45);
}

.collection {
  margin-top: 50px;
  background-color: black;
  text-align: center;
  align-items: center;
}

.gradienttext {
  background-size: 75%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin-bottom: 30px;
  background-image: radial-gradient(
      circle at 3.6751302083333335% 6.940104166666666%,
      #4d6001 0%,
      11.55%,
      rgba(77, 96, 1, 0) 35%
    ),
    radial-gradient(
      circle at 92.96712239583333% 9.554036458333332%,
      #faaa63 0%,
      17.5%,
      rgba(250, 170, 99, 0) 35%
    ),
    radial-gradient(
      circle at 95.20670572916666% 90.48177083333333%,
      #c9c6ff 0%,
      34.1%,
      rgba(201, 198, 255, 0) 55%
    ),
    radial-gradient(
      circle at 4.313151041666666% 93.34635416666667%,
      #97b49d 0%,
      29.900000000000002%,
      rgba(151, 180, 157, 0) 65%
    ),
    radial-gradient(
      circle at 46.555989583333336% 11.50390625%,
      rgba(214, 222, 72, 0.99) 0%,
      25%,
      rgba(214, 222, 72, 0) 50%
    ),
    radial-gradient(
      circle at 51.121419270833336% 89.98697916666667%,
      #93c3ff 0%,
      42%,
      rgba(147, 195, 255, 0) 70%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #000000 0%,
      100%,
      rgba(0, 0, 0, 0) 100%
    );
}

.viewnft {
  background-color: tran;
  color: black;
  border-radius: 25px;
  transition: 0.2s;
  padding: 5px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
}
.viewnft:hover {
  /* background-color: #ffffff;
  color: black; */
  cursor: pointer;
}

.collectiontext {
  color: white;
  font-size: 25px;
}

.nftimage {
  margin: 20px 50px;
}
.nftlist {
  display: flex;
  flex-direction: row;
  margin-left: -2.3em;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.nftlistitems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.showmessage {
  color: white;
  font-size: 20px;
}

.aboutcontainer {
  padding-top: 40px;

  background-image: radial-gradient(
      circle at 95.20670572916666% 90.48177083333333%,
      #d1cfff 0%,
      64.1%,
      rgba(201, 198, 255, 0) 105%
    ),
    radial-gradient(
      circle at 4.313151041666666% 93.34635416666667%,
      #97b49d 0%,
      69.900000000000002%,
      rgba(151, 180, 157, 0) 105%
    ),
    radial-gradient(
      circle at 51.121419270833336% 89.98697916666667%,
      #94c0f2 100%,
      72%,
      rgba(147, 195, 255, 0) 70%
    );
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-bottom: 100px;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  height: 200px;
  color: #000000;
  text-align: center;
}

.glass2 {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  height: 450px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.team {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 20px;
}

.chiragnft {
  width: 300px;
}

.name {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 0;
}

.role {
  padding-top: 10px;
  margin: 0;
  font-size: 20;
  font-weight: 400;
}

.socials {
  padding: 18px;
}

.linkedin {
  padding: 0px 10px;
  width: 25px;
}

.insta {
  padding: 0px 10px;
  width: 25px;
}

.twitter {
  padding: 0px 10px;
  width: 25px;
}

.github {
  padding: 0px 10px;
  width: 25px;
}

.thanks {
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 20px;
  padding-bottom: 30px;
}
